.container {
    position: right;
    font-family: Arial;
    padding-left: 50px;
    padding-right: 250px;
  }
.text-block {
    position: right;
    bottom: 10px;
    right: 10px;
    background-color: rgba(59, 53, 53, 0.877);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }  